.navbar {
  background-color: black !important;
  opacity: 0.8;
}

.nav-link {
  color: white !important;
  font-size: 15px;
}

.nav-link .apple-logo {
  color: white !important;
  font-size: 22px;
  line-height: 0;
}

body {
  padding-top: 55px;
}

.product {
  padding-top: 50px;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 576px) {
  .product {
    text-align: center;
    margin-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

.product h1 {
  font-size: 32px;
  font-weight: bold;
}

@media (min-width: 576px) {
  .product h1 {
    font-size: 56px;
    font-weight: bold;
  }
}

.product h2 {
  font-size: 21px;
  font-weight: 400;
}

@media (min-width: 576px) {
  .product h2 {
    font-size: 27px;
    font-weight: 400;
  }
}

.product .links {
  font-size: 21px;
  margin-bottom: 50px;
}

@media (min-width: 576px) {
  .product .links {
    font-size: 21px;
    margin-bottom: 80px;
  }
}

.product .links .learn-more {
  margin-right: 20px;
}

.product.iphone-x {
  background-color: #f9f9f9;
}

.product.ipad {
  background-color: #f4f3f4;
}

.product.macbook {
  background-color: #131218;
  padding-bottom: 50px;
}

@media (min-width: 576px) {
  .product.macbook {
    padding-bottom: 0;
  }
}

.product.dark {
  color: white !important;
}

.product.dark a {
  color: white !important;
}

.product .links.small-link-margin {
  margin-bottom: 0;
}

.product .links a {
  text-decoration: none;
}

.product-small {
  height: 550px;
  padding-top: 40px;
  margin: 0 0 10px 0;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 576px) {
  .product-small {
    margin: 0 0 10px 10px;
    padding-left: 0;
    padding-right: 0;
  }
}

.product-small h3 {
  font-size: 32px;
  font-weight: bold;
}

.product-small h4 {
  font-size: 19px;
  font-weight: 400;
}

.product-small .links {
  font-size: 17px;
  margin-bottom: 80px;
}

.product-small .links .learn-more {
  margin-right: 20px;
}

.product-small .links.small-link-margin {
  margin-bottom: 20px;
}

.product-small .links a {
  text-decoration: none;
}

.product-small.behind-the-mac.dark {
  padding-top: 420px;
}

.product-small.dark {
  color: white !important;
}

.product-small.dark a {
  color: white !important;
}

.product-grid {
  padding-right: 0;
}

@media (min-width: 576px) {
  .product-grid {
    padding-right: 10px;
  }
}

.product-small.iphone-8 {
  background-color: #f9f0eb;
}

.product-small.air-pod {
  background-color: #fafafa;
}

.product-small.watch h5 {
  color: red;
  font-size: 16px;
  font-weight: bold;
}

.product-small.watch {
  background-color: #eeeeee;
}

